<style>
    body {
      width: 100vw;
      height: 100vh;
      font-family: "Work Sans", sans-serif;
      margin: 0;
      font-size: 12px;
      color: #353d40;
    }

    .container {
      border: solid 1px #ebeef5;
      padding: 20px;
      background: #f2f4f6;
    }

    .controls,
    .report-content,
    .footer {
      border: solid 1px #ebeef5;
      padding: 10px;
      margin-bottom: 5px;
      background: #fff;
      border-radius: 4px;
    }

    .report-header {
      display: flex;
      justify-content: space-between;
      border: solid 1px #ebeef5;
      padding: 10px;
      align-items: center;
      justify-items: center;
      margin-bottom: 5px;
      background: #fff;
      border-radius: 4px;
    }

    .controls {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    .controls select {
      width: 50%;
      border: solid 1px #ebeef5;
      border-radius: 4px;
    }

    .report-title {
      font-size: 12px;
    }

    .row-table-container {
      padding: 3px;
      border: solid 1px #b9bbc0;
      border-radius: 4px;
    }

    .row-table-container .row-table {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }

    .row-table-container .row-table .row-data {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: solid 1px #b9bbc0;
      width: 49%;
      margin: 1px;
    }

    .row-table-container .row-table .row-data .row-header {
      border-right: solid 1px #b9bbc0;
    }

    .row-table-container h4 {
      margin: 0;
    }

    table {
      border: solid 1px #b9bbc0;
      margin-top: 10px;
      width: 100%;
      border-radius: 4px;
      padding: 2px;
    }

    tr,
    th,
    td {
      border: solid 1px #b9bbc0;
    }

    .report-logo .logo {
      width: 150px;
    }

    .description-container {
      display: flex;
      align-items: center;
      border: solid 1px #b9bbc0;
      margin-top: 10px;
      border-radius: 4px;
    }

    .description-container .description-title {
      padding: 5px;
      margin: 0;
    }

    .description-container .description-text {
      border-left: solid 1px #b9bbc0;
      padding: 5px;
      margin: 0;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(140deg, #fff 0 75%, #02a095 75% 100%);
    }

    .logo-footer {
      width: 300px;
    }

    .data {
      padding: 5px;
    }

    ul {
      padding: 0;
      margin: 0;
    }
  </style>

  <!-- HTML -->
  <body>
    <!-- Global container -->
    <div class="container" onload="funcion2()">
      <!-- <div class="sub-container"> -->
      <!-- Contorls -->
      <div class="controls">
        <div class="select-container">
          <label for="filter-one">Supervisor:</label>
          <select name="filter-one" id="filter-one" onchange="funcion1()">
            <option value="john Doe">john Doe</option>
            <option value="john Doe">Luis Doe</option>
          </select>
        </div>
        <div class="select-container">
          <label for="filter-two">Orden:</label>
          <select name="filter-two" id="filter-two">
            <option value="1111">1111</option>
            <option value="2222">2222</option>
          </select>
        </div>
      </div>

      <!-- Header -->
      <header class="report-header">
        <div class="report-logo">
          <img
            src="https://clients.agrimanager.app/freshteruma/604bb7baad63f348bf58a0e2-avatar-7cd9e428-ab26-4b69-8bd6-2e764870f28e.jpg"
            alt=""
            class="logo"
          />
        </div>
        <div class="report-title">
          <h1 class="title">Reporte Agrimanager</h1>
        </div>
        <div class="report-date">
          <span class="date">13/05/2022</span>
        </div>
      </header>

      <!-- Main -->
      <main class="report-content">
        <!-- Row Table -->
        <div class="row-table-container">
          <ul class="row-table">
            <li class="row-data">
              <span class="row-header data"><b>Test</b></span>
              <span class="row-value data" id="id_test1" >test</span>
            </li>
            <li class="row-data">
              <span class="row-header data"><b>Test</b></span>
              <span class="row-value data">test</span>
            </li>
            <li class="row-data">
              <span class="row-header data"><b>Test</b></span>
              <span class="row-value data">test</span>
            </li>
            <li class="row-data">
              <span class="row-header data"><b>Test</b></span>
              <span class="row-value data">test</span>
            </li>
            <li class="row-data">
              <span class="row-header data"><b>Test</b></span>
              <span class="row-value data">test</span>
            </li>
          </ul>
        </div>

        <!-- Report Table -->
        <table class="report-table">
          <tr>
            <th class="data">test</th>
            <th class="data">test</th>
            <th class="data">test</th>
            <th class="data">test</th>
          </tr>
          <tr>
            <td class="data">test</td>
            <td class="data">test</td>
            <td class="data">test</td>
            <td class="data">test</td>
          </tr>
          <tr>
            <td class="data">test</td>
            <td class="data">test</td>
            <td class="data">test</td>
            <td class="data">test</td>
          </tr>
          <tr>
            <td class="data">test</td>
            <td class="data">test</td>
            <td class="data">test</td>
            <td class="data">test</td>
          </tr>
          <tr>
            <td class="data">test</td>
            <td class="data">test</td>
            <td class="data">test</td>
            <td class="data">test</td>
          </tr>
        </table>

        <div class="description-container">
          <h4 class="description-title">Description:</h4>
          <p class="description-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </main>

      <!-- Footer -->
      <footer class="footer">
        <div class="logo-footer-container">
          <img
            src="https://sp-ao.shortpixel.ai/client/to_webp,q_lossless,ret_img/https://www.agrimanager.app/wp-content/uploads/2019/05/WhatsApp-Image-2019-05-29-at-4.02.49-PM-1.jpeg"
            alt=""
            class="logo-footer"
          />
        </div>
        <div class="footer-title-container">
          <h4 class="footer-title">Reporte hecho con Agrimanager</h4>
        </div>
        <div class="footer-code-container">
          <span class="footer-code">code: 2255</span>
        </div>
      </footer>
      <!-- </div> -->
    </div>




    <script>
      function funcion1(){

        var data_reporte = window.__preCompiledDataReference;
        console.log(data_reporte);

      }
    </script>


  </body>
