
<!--PLANTILLA ESTATICA (sin controlador,imprimir todos o agrupados)-->

<body>
<div id="id_seccion_principal">
    <table id="id_tabla_pricipal" class="">

        <!--  controlador-->
        <tr>
            <td>
                <table id="id_tabla_controlador">
                    <tr>

                    </tr>
                </table>
            </td>
        </tr>

        <!--  header-->
        <tr>
            <td>
                <table id="id_tabla_header">
                    <tr>
                        <td>
                            <div id="id_seccion_header_imagen" class="">
                                <img id="id_header_imagen"
                                     src="https://clients.agrimanager.app/freshteruma/604bb7baad63f348bf58a0e2-avatar-7cd9e428-ab26-4b69-8bd6-2e764870f28e.jpg"
                                     alt="">
                            </div>
                        </td>
                        <td>
                            <div id="id_seccion_header_titulo" class="">
                                <h2>Titulo de HEADER</h2>
                            </div>
                        </td>
                        <td>
                            <div id="id_seccion_header_fecha" class="">
                                <h4>Fecha HOY</h4>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <!--  main-->
        <tr>
            <td>
                <table id="id_tabla_pricipal" class="">

                    <tr>
                        <th>Proveedor</th>
                        <th>No liquidación</th>
                        <th>Total valor exportados</th>
                        <th>Total valor descarte</th>
                        <th>Subtotal a pagar</th>
                    </tr>
                    <%data.map(i => {%>
                    <tr>
                        <td><%=i["Nombre proveedor"]%></td>
                        <td><%=i["No liquidación"]%></td>
                        <td><%=i["Total valor exportados"]%></td>
                        <td><%=i["Total valor descarte"]%></td>
                        <td><%=i["Subtotal a pagar"]%></td>
                    </tr>
                    <% }) %>

                </table>
            </td>
        </tr>


        <!--  footer-->
        <tr>
            <td>
                <table id="id_tabla_footer">
                    <tr>
                        <td>
                            <div id="id_seccion_footer_imagen" class="">
                                <img id="id_footer_imagen"
                                     src="https://sp-ao.shortpixel.ai/client/to_webp,q_lossless,ret_img/https://www.agrimanager.app/wp-content/uploads/2019/05/WhatsApp-Image-2019-05-29-at-4.02.49-PM-1.jpeg"
                                     alt="">
                            </div>
                        </td>
                        <td>
                            <div id="id_seccion_footer_titulo" class="">
                                <h5>Titulo de FOOTER</h5>
                            </div>
                        </td>
                        <td>
                            <div id="id_seccion_footer_fecha" class="">
                                <h5>codigo HOY</h5>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>

    </table>
</div>



<style>
    /*table, th, td, tr {*/
    table {
        border: 1px solid black;
        width: 100%;
    }

    /*td {*/
    /*    width: 100%;*/
    /*}*/

    #id_header_imagen {
        height: 100px
    }

    #id_footer_imagen {
        height: 70px
    }
</style>