<body>

  <!-- Global container -->
  <div class="container">
    <!-- Contorls -->
    <div class="controls">
      <button class="btn" onclick="loadData()" id="load-btn">Cargar</button>
      <div class="select-container">
        <label for="filter-one">Código:</label>
        <select name="filter-one" id="filter-one" onchange="selectId()">
          <option value=""></option>
        </select>
      </div>
    </div>

    <!-- Header -->
    <header class="report-header">
      <div class="report-logo">
        <img
          src="https://clients.agrimanager.app/cluster/5db1ba4d8b222e25759e607e-avatar-e5a3a35a-4860-4df5-b374-135d45d72ac3.jpg"
          alt="" class="logo" />
      </div>
      <div class="report-title">
        <h1 class="title" id="id_header_titulo">REMISION DE FRUTA</h1>
      </div>
      <div class="report-date">
        <span class="date" id="id_header_fecha">
          <%=new Date().toISOString().split('T')[0].split('-').reverse().join("/")%>
        </span>
      </div>
    </header>

    <!-- Main (Contenido Reporte) -->
    <!--__________________________-->

    <main class="report-content">
      <!-- Row Table -->
      <div class="row-table-container">
        <!-- <h2 class="text_center">Informacion de Proveedor</h2> -->
        <ul class="row-table">

          <li class="row-data">
            <span class="row-header data">
              <b>Código:</b>
            </span>
            <span class="row-value data" id="id_codigo"> </span>
          </li>
          <li class="row-data">
            <span class="row-header data">
              <b>Tipo de Fruta:</b>
            </span>
            <span class="row-value data" id="id_tipo_fruta"> </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b>Fecha de Despacho:</b></span>
            <span class="row-value data" id="id_fecha_despacho"> </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b>Nombre Conductor:</b></span>
            <span class="row-value data" id="id_nombre_conductor"> </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b>Placa Vehículo:</b></span>
            <span class="row-value data" id="id_placa_vehiculo"> </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b>Nombre Proveedor:</b></span>
            <span class="row-value data" id="id_nombre_proveedor"> </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b>Cédula/Nit:</b></span>
            <span class="row-value data" id="id_cedula"> </span>
          </li>
          <li class="row-data">
            <span class="row-header data"><b>Predio:</b></span>
            <span class="row-value data" id="id_predio"> </span>
          </li>
          <li class="row-data">
            <span class="row-header data"><b>Lote:</b></span>
            <span class="row-value data" id="id_lote"> </span>
          </li>
          <li class="row-data">
            <span class="row-header data"><b>Código Reg. ICA:</b></span>
            <span class="row-value data" id="id_ica"> </span>
          </li>
          <li class="row-data">
            <span class="row-header data"><b>Municipio:</b></span>
            <span class="row-value data" id="id_municipio"> </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b>Rainforest Alliance: ID</b></span>
            <span class="row-value data" id="id_rainforest"></span>
            <span class="checkbox_area">
              <div class="activo box">
                <label for="raiforest_activo">Activo</label>
                <input type="radio" name="raiforest" id="raiforest_activo" checked>
              </div>
              <div class="incativo box">
                <label for="raiforest_inactivo">Inactivo</label>
                <input type="radio" name="raiforest" id="raiforest_inactivo">
              </div>
            </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b>Global G.A.P: GGN</b></span>
            <span class="row-value data" id="id_global"></span>
            <span class="checkbox_area">
              <div class="activo box">
                <label for="global_activo">Activo</label>
                <input type="radio" name="global" id="global_activo" checked>
              </div>
              <div class="incativo box">
                <label for="global_inactivo">Inactivo</label>
                <input type="radio" name="global" id="global_inactivo">
              </div>
            </span>
          </li>
          <li class="row-data">
            <span class="row-header data"><b>Fecha Cosecha:</b></span>
            <span class="row-value data" id="id_fecha_cosecha"> </span>
          </li>
          <li class="row-data">
            <span class="row-header data"><b>Hora Cosecha:</b></span>
            <span class="row-value data" id="id_hora_cosecha"> </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b>Hora Despacho:</b></span>
            <span class="row-value data" id="id_hora_despacho"> </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b>Kilos Despachados:</b></span>
            <span class="row-value data" id="id_kilos_despachados"> </span>
          </li>
          <li class="row-data item-large">
            <span class="row-header data"><b># Canastillas Despachadas J.E:</b></span>
            <span class="row-value data" id="id_num_canastillas"></span>
          </li>
          <!-- <li class="row-data">
            <span class="row-header data"><b>Saldo Canastillas en Predio:</b></span>
            <span class="row-value data" id="id_saldo_canastillas"></span>
          </li>
          <li class="row-data">
            <span class="row-header data"><b>Peso Neto Fruta en Planta:</b></span>
            <span class="row-value data" id="id_peso_neto"></span>
          </li> -->
        </ul>
      </div>

      <!-- DESCRIPTION SECTION -->

      <!-- Observaciones -->
      <div class="description-container">
        <div class="description">
          <h5 class="description-title">Observaciones:</h5>
          <p class="description-text" id="id_observaciones">
          </p>
        </div>
      </div>


      <!--firmas-->
      <div class="signatures">
        <div class="signatures-div">
          <hr />
          <h4 class="signatures-title">Firma Responsable Predio</h4>
        </div>
        <div class="signatures-div">
          <hr />
          <h4 class="signatures-title">Firma Responsable Planta</h4>
        </div>
        <div class="signatures-div">
          <hr />
          <h4 class="signatures-title">Firma Conductor</h4>
        </div>
      </div>

    </main>



    <!-- Footer -->
    <footer class="footer">
      <div class="logo-footer-container">
        <img
          src="https://sp-ao.shortpixel.ai/client/to_webp,q_lossless,ret_img/https://www.agrimanager.app/wp-content/uploads/2019/05/WhatsApp-Image-2019-05-29-at-4.02.49-PM-1.jpeg"
          alt="" class="logo-footer logo" />
      </div>
      <div class="footer-title-container">
        <h4 class="footer-title">Reporte desarrollado con Agrimanager</h4>
      </div>
      <div class="footer-code-container">
        <span class="footer-code">code: <%=new Date()%></span>
      </div>
    </footer>

  </div>
</body>

<style>
  #preCompiledDataContainer {
    height: 100% !important;
  }

  body {
    max-width: 100vw;
    height: auto;
    font-family: "Work Sans", sans-serif;
    margin: auto;
    font-size: 11px;
    color: #353d40;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    border: solid 1px #ebeef5;
    padding: 12px;
    background: #f2f4f6;
    width: 100%;
    max-width: 97%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }

  .report-header,
  .controls,
  .report-content,
  .footer {
    border: solid 1px #ebeef5;
    padding: 6px;
    background: #fff;
    border-radius: 4px;
  }

  .row-table-container,
  .row-table-container .row-table .row-data,
  .report-content .column-table-container,
  .description-container,
  table,
  tr,
  th,
  td {
    border: solid 1px #b9bbc0;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .container .text_center {
    margin: 3px 0;
  }

  /* Controls Area */
  .controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    color: #fff;
    font-size: 14px;
    background-image: url(https://agrimanager-app.s3.us.cloud-object-storage.appdomain.cloud/dot.svg);
    background-size: 15px;
    background-color: #353d40;
  }

  .controls .btn {
    font-family: inherit;
    font-size: inherit;
    height: 30px;
    width: 50%;
    background: #61c3ac;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s ease-out;
  }

  .controls .btn:hover {
    filter: brightness(1.1);
  }

  .controls select {
    font-family: inherit;
    width: 70%;
    min-width: auto;
    border: solid 1px #ebeef5;
    border-radius: 4px;
    outline: none;
    padding: 2px;
    font-size: 12px;
  }

  /* Header Area */
  .report-header .report-logo .logo {
    width: 130px;
  }

  .report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }

  .report-header .report-title {
    font-size: 12px;
  }

  .report-header .report-title .title {
    margin: 0;
    font-size: 20px;
  }

  /* Content Area */
  .report-content .row-table-container {
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  /* Rows table */
  .report-content .row-table-container .row-table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }

  .report-content .row-table-container .row-table .row-data {
    display: grid;
    grid-template-columns: auto 4fr auto;
    max-width: 100%;
    border-radius: 3px;
  }

  .report-content .row-table-container .row-table .item-large {
    grid-column: auto / span 2;
  }

  .report-content .row-table-container .row-table .row-data .row-header {
    border-right: solid 1px #b9bbc0;
    line-height: 1;
  }

  .report-content .row-table-container .row-table .checkbox_area .box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .report-content .row-table-container .row-table .checkbox_area .box input {
    margin: 2px 3px;
    height: auto !important;
  }

  /* Description */
  .report-content .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
  }

  .report-content .description {
    width: 100%;
  }

  .report-content .description-container .description-title {
    width: 100%;
    margin: 4px 5px;
    font-size: 11px;
    font-weight: 700;
  }

  .report-content .description-container .description-text {
    padding: 5px;
    margin: 0;
    font-size: 11px;
    min-height: 10px;
  }

  /* Global tables style */
  .report-content .data {
    padding: 4px 5px;
    display: flex;
    align-items: center;
  }

  /* Signatures */
  .report-content .signatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }

  .report-content .signatures .signatures-div hr {
    margin-top: 30px;
  }

  .report-content .signatures .signatures-div .signatures-title {
    text-align: center;
    margin: 0;
  }

  /* Footer Area */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(140deg, #fff 0 75%, #02a095 75% 100%);
  }

  .footer .logo-footer {
    width: 235px;
  }

  .footer .footer-title-container .footer-title {
    margin: 0;
  }

  .logo {
    max-height: 30px;
    object-fit: contain;
  }
</style>
