<style>

    #preCompiledDataContainer {
        height: 100% !important;
    }

    body {
        max-width: 100vw;
        min-height: 100vh;
        height: auto;
        font-family: "Work Sans", sans-serif;
        margin: auto;
        font-size: 11px;
        color: #353d40;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f2f4f6;
    }

    .container {
        border: solid 1px #ebeef5;
        padding: 12px;
        background: #f2f4f6;
        width: 97%;
    }

    .report-header,
    .controls,
    .report-content,
    .footer {
        border: solid 1px #ebeef5;
        padding: 10px;
        margin-bottom: 5px;
        background: #fff;
        border-radius: 4px;
    }

    .row-table-container,
    .row-table-container .row-table .row-data,
    .report-content .column-table-container,
    .description-container,
    table,
    tr,
    th,
    td {
        border: solid 1px #b9bbc0;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .container .text_center {
        margin: 3px 0;
    }

    /* Controls Area */

    .controls {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr;
        align-items: center;
        color: #fff;
        font-size: 14px;
        background-image: url(https://agrimanager-app.s3.us.cloud-object-storage.appdomain.cloud/dot.svg);
        background-size: 15px;
        background-color: #353d40;
    }

    .controls .btn {
        font-family: inherit;
        font-size: inherit;
        height: 35px;
        width: 50%;
        background: #61c3ac;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.1s ease-out;
    }

    .controls .btn:hover {
        filter: brightness(1.1);
    }

    .controls select {
        font-family: inherit;
        width: 60%;
        border: solid 1px #ebeef5;
        border-radius: 4px;
        outline: none;
        padding: 2px;
        font-size: 12px;
    }

    /* Header Area */

    .report-header .report-logo .logo {
        width: 130px;
    }

    .report-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
    }

    .report-header .report-title {
        font-size: 12px;
    }

    .report-header .report-title .title {
        margin: 0;
    }

    /* Content Area */

    .report-content .row-table-container {
        padding: 3px;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    /* Rows table */

    .report-content .row-table-container .row-table {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .report-content .row-table-container .row-table .row-data {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 49%;
        margin: 1px;
    }

    .report-content .row-table-container .row-table .row-data .row-header {
        border-right: solid 1px #b9bbc0;
    }

    .report-content .row-table-container .description-title {
        margin: 0;
    }

    /* Columns table */

    .report-content .column-table-container {
        margin-top: 10px;
        border-radius: 4px;
        padding: 4px;
    }

    .report-content #prc_rendimiento {
        font-size: 18px;
        text-align: center;
    }

    /* Table And Descrption */
    .report-content .table-description-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-top: 10px;
    }

    .report-content .table-description-container .description {
        width: 100%;
    }

    .report-content .table-description-container hr {
        width: 100%;
        margin: 0;
        color: #b9bbc0;
    }

    /* Description */

    .report-content .description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
    }

    .report-content .description-container .description-title {
        width: 100%;
        margin: 4px;
        font-size: 9px;
    }

    .report-content .description-container .description-text {
        padding: 5px;
        margin: 0;
        font-size: 8px;
    }

    /* Global tables style */

    .report-content table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 4px;
        font-size: 11px;
    }

    .report-content .data {
        padding: 2px;
    }

    /* Footer Area */

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(140deg, #fff 0 75%, #02a095 75% 100%);
    }

    .footer .logo-footer {
        width: 235px;
    }

    .footer .footer-title-container .footer-title {
        margin: 0;
    }

</style>

<!-- HTML -->
<body>
<!-- Global container -->
<div class="container">
    <!-- Contorls -->
    <div class="controls">
        <button class="btn" onclick="loadData()">Cargar</button>
        <div class="select-container">
            <label for="filter-one">Proveedor:</label>
            <select name="filter-one" id="filter-one" onchange="selectPoveedores()">
                <option value=""></option>
            </select>
        </div>
        <div class="select-container">
            <label for="filter-two">No liquidación:</label>
            <select
                    name="filter-two"
                    id="filter-two"
                    onchange="selectLiquidacion()"
            >
                <option value=""></option>
            </select>
        </div>
    </div>

    <!-- Header -->
    <header class="report-header">
        <div class="report-logo">
            <img
                    src="https://clients.agrimanager.app/freshteruma/604bb7baad63f348bf58a0e2-master-6d6ced16-531a-445e-948f-e601a7b98d82.jpg"
                    alt=""
                    class="logo"
            />
        </div>
        <div class="report-title">
            <h1 class="title" id="id_header_titulo">LIQUIDACION DE FRUTA</h1>
        </div>
        <div class="report-date">
            <span class="date" id="id_header_fecha">
              <%=new
              Date().toISOString().split('T')[0].split('-').reverse().join("/")%>
            </span>
        </div>
    </header>

    <!-- Main (Contenido Reporte) -->
    <!--__________________________-->
    <main class="report-content">
        <!-- Row Table -->
        <!--tabla1-->
        <div class="row-table-container">
            <h2 class="text_center">Informacion de Proveedor</h2>
            <ul class="row-table">
                <!--            <li class="row-data">-->
                <!--              <span class="row-header data"><b>Test1</b></span>-->
                <!--              <span class="row-value data" id="id_test1" >test1</span>-->
                <!--            </li>-->

                <li class="row-data">
            <span class="row-header data">
              <b>Proveedor:</b>
            </span>
                    <span class="row-value data" id="id_proveedor"> </span>
                </li>
                <li class="row-data">
                    <span class="row-header data"><b>Nº Liquidación:</b></span>
                    <span class="row-value data" id="id_liquidacion"> </span>
                </li>
                <li class="row-data">
                    <span class="row-header data"><b>Cedula:</b></span>
                    <span class="row-value data" id="id_cedula"> </span>
                </li>
                <li class="row-data">
                    <span class="row-header data"><b>Cuenta para pago:</b></span>
                    <span class="row-value data" id="id_cuenta"> </span>
                </li>
                <li class="row-data">
                    <span class="row-header data"><b>Predio:</b></span>
                    <span class="row-value data" id="id_predio"> </span>
                </li>
                <li class="row-data">
                    <span class="row-header data"><b>Código proveedor:</b></span>
                    <span class="row-value data" id="id_codigo"> </span>
                </li>
                <li class="row-data">
                    <span class="row-header data"><b>Direccion:</b></span>
                    <span class="row-value data" id="id_direccion"> </span>
                </li>
                <li class="row-data">
                    <span class="row-header data"><b>Asociación:</b></span>
                    <span class="row-value data" id="id_asociacion"> </span>
                </li>
                <li class="row-data">
                    <span class="row-header data"><b>Reg ICA:</b></span>
                    <span class="row-value data" id="id_ica"> </span>
                </li>
                <li class="row-data">
                    <span class="row-header data"><b>Con:</b></span>
                    <span class="row-value data" id="id_con"> </span>
                </li>

                <!--
              ids:

              id_proveedor
              id_liquidacion
              id_cedula
              id_cuenta
              id_predio
              id_codigo
              id_direccion
              id_asociacion
              id_ica
              id_con
              --></ul>
        </div>

        <!--tabla2-->
        <div class="row-table-container">
            <h2 class="text_center">Resumen de Proceso</h2>
            <ul class="row-table">
                <li class="row-data">
            <span class="row-header data"><b>Kilogramos ingresados:</b></span
            ><span class="row-value data" id="id_kg_ingresados"> </span>
                </li>
                <li class="row-data">
            <span class="row-header data"><b>Fecha:</b></span
            ><span class="row-value data" id="id_fecha_liquidacion"> </span>
                </li>
                <li class="row-data">
            <span class="row-header data"><b>Kilogramos exportables:</b></span
            ><span class="row-value data" id="id_kg_exportables"> </span>
                </li>
                <li class="row-data">
            <span class="row-header data"><b>Canastillas ingresadas:</b></span
            ><span class="row-value data" id="id_canastillas"> </span>
                </li>
                <li class="row-data">
            <span class="row-header data"><b>Deshidratacion:</b></span
            ><span class="row-value data" id="id_deshidratacion"> </span>
                </li>
                <li class="row-data">
            <span class="row-header data"
            ><b>Valor descarte (800 x kilo):</b></span
            ><span class="row-value data" id="id_valor_descarte"> </span>
                </li>
                <li class="row-data">
            <span class="row-header data"><b>Kilogramos descartados:</b></span
            ><span class="row-value data" id="id_kg_descarte"> </span>
                </li>
                <li class="row-data">
            <span class="row-header data"
            ><b>Descarte por el productor:</b></span
            ><span class="row-value data" id="id_descarte_proveedor"> </span>
                </li>

                <!--
              ids:

              id_kg_ingresados
              id_fecha_liquidacion
              id_kg_exportables
              id_canastillas
              id_deshidratacion
              id_valor_descarte
              id_kg_descarte
              id_descarte_proveedor

              -->
            </ul>
        </div>

        <!-- Report Table -->
        <!--tabla3-->
        <div class="table-container">
            <table class="report-table">
                <!--  7 cols,  14 rows   -->
                <tr>
                    <th class="data">Calibre</th>
                    <th class="data">Nº Cajas</th>
                    <th class="data">Kg/ Calibre</th>
                    <th class="data">Total Kg</th>
                    <th class="data">Precio</th>
                    <th class="data" id="table_total">Total</th>
                    <th class="data">% Rendimiento</th>
                </tr>

                <tr>
                    <th class="data" id="constante_calibre10">10</th>
                    <td class="data" id="cajas10"></td>
                    <td class="data" id="constante_calibre_kg10">0</td>
                    <td class="data" id="kg_calibre10"></td>
                    <td class="data" id="precio_calibre10"></td>
                    <td class="data" id="total_calbre10"></td>
                    <td class="data" id="prc_rendimiento" rowspan="13"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre12">12</th>
                    <td class="data" id="cajas12"></td>
                    <td class="data" id="constante_calibre_kg12">10</td>
                    <td class="data" id="kg_calibre12"></td>
                    <td class="data" id="precio_calibre12"></td>
                    <td class="data" id="total_calbre12"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre14">14</th>
                    <td class="data" id="cajas14"></td>
                    <td class="data" id="constante_calibre_kg14">10</td>
                    <td class="data" id="kg_calibre14"></td>
                    <td class="data" id="precio_calibre14"></td>
                    <td class="data" id="total_calbre14"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre16">16</th>
                    <td class="data" id="cajas16"></td>
                    <td class="data" id="constante_calibre_kg16">10</td>
                    <td class="data" id="kg_calibre16"></td>
                    <td class="data" id="precio_calibre16"></td>
                    <td class="data" id="total_calbre16"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre18">18</th>
                    <td class="data" id="cajas18"></td>
                    <td class="data" id="constante_calibre_kg18">10</td>
                    <td class="data" id="kg_calibre18"></td>
                    <td class="data" id="precio_calibre18"></td>
                    <td class="data" id="total_calbre18"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre20">20</th>
                    <td class="data" id="cajas20"></td>
                    <td class="data" id="constante_calibre_kg20">10</td>
                    <td class="data" id="kg_calibre20"></td>
                    <td class="data" id="precio_calibre20"></td>
                    <td class="data" id="total_calbre20"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre22">22</th>
                    <td class="data" id="cajas22"></td>
                    <td class="data" id="constante_calibre_kg22">10</td>
                    <td class="data" id="kg_calibre22"></td>
                    <td class="data" id="precio_calibre22"></td>
                    <td class="data" id="total_calbre22"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre24">24</th>
                    <td class="data" id="cajas24"></td>
                    <td class="data" id="constante_calibre_kg24">10</td>
                    <td class="data" id="kg_calibre24"></td>
                    <td class="data" id="precio_calibre24"></td>
                    <td class="data" id="total_calbre24"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre26">26</th>
                    <td class="data" id="cajas26"></td>
                    <td class="data" id="constante_calibre_kg26">10</td>
                    <td class="data" id="kg_calibre26"></td>
                    <td class="data" id="precio_calibre26"></td>
                    <td class="data" id="total_calbre26"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre28">28</th>
                    <td class="data" id="cajas28"></td>
                    <td class="data" id="constante_calibre_kg28">10</td>
                    <td class="data" id="kg_calibre28"></td>
                    <td class="data" id="precio_calibre28"></td>
                    <td class="data" id="total_calbre28"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre30">30</th>
                    <td class="data" id="cajas30"></td>
                    <td class="data" id="constante_calibre_kg30">10</td>
                    <td class="data" id="kg_calibre30"></td>
                    <td class="data" id="precio_calibre30"></td>
                    <td class="data" id="total_calbre30"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre32">32</th>
                    <td class="data" id="cajas32"></td>
                    <td class="data" id="constante_calibre_kg32">10</td>
                    <td class="data" id="kg_calibre32"></td>
                    <td class="data" id="precio_calibre32"></td>
                    <td class="data" id="total_calbre32"></td>
                </tr>
                <tr>
                    <th class="data" id="constante_calibre_categoría">Categoría II</th>
                    <td class="data" id="cajas_categoría"></td>
                    <td class="data" id="constante_calibre_kg_categoría">10</td>
                    <td class="data" id="kg_calibre_categoría"></td>
                    <td class="data" id="precio_calibre_categoría"></td>
                    <td class="data" id="total_calbre_categoría"></td>
                </tr>
                <tr>
                    <th class="data" colspan="3">PROMEDIO FRUTA:</th>
                    <td class="data" id="promedio_fruta"></td>
                    <td></td>
                    <td class="data" id="total_total" headers="table_total"></td>
                </tr>
            </table>
        </div>

        <!-- ids:
          constante_calibre10
          cajas10
          constante_calibre_kg10
          kg_calibre10
          precio_calibre10
          total_calbre10
          prc_rendimiento

          constante_calibre12
          cajas12
          constante_calibre_kg12
          kg_calibre12
          precio_calibre12
          total_calbre12

          constante_calibre14
          cajas14
          constante_calibre_kg14
          kg_calibre14
          precio_calibre14
          total_calbre14

          constante_calibre16
          cajas16
          constante_calibre_kg16
          kg_calibre16
          precio_calibre16
          total_calbre16

          constante_calibre18
          cajas18
          constante_calibre_kg18
          kg_calibre18
          precio_calibre18
          total_calbre18

          constante_calibre20
          cajas20
          constante_calibre_kg20
          kg_calibre20
          precio_calibre20
          total_calbre20

          constante_calibre22
          cajas22
          constante_calibre_kg22
          kg_calibre22
          precio_calibre22
          total_calbre22

          constante_calibre24
          cajas24
          constante_calibre_kg24
          kg_calibre24
          precio_calibre24
          total_calbre24

          constante_calibre26
          cajas26
          constante_calibre_kg26
          kg_calibre26
          precio_calibre26
          total_calbre26

          constante_calibre28
          cajas28
          constante_calibre_kg28
          kg_calibre28
          precio_calibre28
          total_calbre28

          constante_calibre30
          cajas30
          constante_calibre_kg30
          kg_calibre30
          precio_calibre30
          total_calbre30

          constante_calibre32
          cajas32
          constante_calibre_kg32
          kg_calibre32
          precio_calibre32
          total_calbre32

          constante_calibre_categoría
          cajas_categoría
          constante_calibre_kg_categoría
          kg_calibre_categoría
          precio_calibre_categoría
          total_calbre_categoría

          promedio_fruta
          total_total
        -->

        <!-- TABLE AND DESCRIPTION SECTION -->

        <div class="table-description-container">
            <div class="table-four-container">
                <!--tabla4-->
                <table class="report-table">
                    <tr>
                        <th class="data" colspan="5">RESUMEN DE PAGO</th>
                    </tr>
                    <tr>
                        <td class="data" colspan="3">Total Exportacion</td>
                        <td class="data" colspan="2" id="id_exportacion"></td>
                    </tr>
                    <tr>
                        <td class="data" colspan="3">Total Descarte</td>
                        <td class="data" colspan="2" id="id_descarte"></td>
                    </tr>
                    <tr>
                        <td class="data" colspan="3"><b>Subtotal</b></td>
                        <td class="data" colspan="2" id="id_subtotal"></td>
                    </tr>

                    <tr>
                        <td class="data" colspan="3">Retefuente</td>
                        <td class="data" colspan="1" id="id_retefuente"></td>
                        <td class="data" colspan="1">-1.5%</td>
                    </tr>
                    <tr>
                        <td class="data" colspan="3">Asohofrucol</td>
                        <td class="data" colspan="1" id="id_asohofrucol"></td>
                        <td class="data" colspan="1">-1%</td>
                    </tr>
                    <tr>
                        <td class="data" colspan="3">ReteICA</td>
                        <td class="data" colspan="1" id="id_rete_ica"></td>
                        <td class="data" colspan="1">-0.35%</td>
                    </tr>
                    <tr>
                        <td class="data" colspan="3"><b>Total Retenciones</b></td>
                        <td class="data" colspan="2" id="id_total_retenciones"></td>
                    </tr>

                    <tr>
                        <td class="data" colspan="3">50 % Análisis residualidad</td>
                        <td class="data" colspan="2" id="id_residualidad">0</td>
                    </tr>

                    <tr>
                        <td class="data" colspan="3"><b>TOTAL</b></td>
                        <td class="data" colspan="2" id="id_total"></td>
                    </tr>

                    <!--
                ids:

                id_exportacion
                id_descarte
                id_subtotal
                id_retefuente
                id_asohofrucol
                id_rete_ica
                id_total_retenciones
                id_residualidad
                id_total


                -->
                </table>
            </div>


            <!-- Notas -->
            <div class="description-container">
                <div class="description">
                    <h4 class="description-title">Informacion para el productor: </h4>
                    <hr/>
                </div>

                <div class="description">
                    <h5 class="description-title">RETEFUENTE:</h5>
                    <hr/>
                    <p class="description-text">
                        Es un sistema de recaudo anticipado del impuesto sobre las ventas que consiste en restar de los
                        pagos o en abonos en cuenta un porcentaje determinado por la ley del vendedor para el caso de
                        comercializacion de fruta 1.5% cuando el proveedor es una empresa perteneciente al regimen
                        especial en el impuesto a la renta, (Cooperativas, ONGs. Fundaciones, etc.) deben en su registro
                        de proveedor entregar certificacion emitida por la DIAN para que no se aplique dicha retención.
                    </p>
                </div>
                <div class="description">
                    <h5 class="description-title">ASOHOFRUCOL: </h5>
                    <hr/>
                    <p class="description-text">
                        Contribucion parafiscal, para ser utilizadas en programas de beneficio del subsector.
                        Se causa en toda operación dentro de la cadena de comercializacion de frutas y hortalizas dado
                        el caso que el proveedor argumente que ha realizado el aporte a la cuota de fomento mediante
                        la certificacion semestral o paz y salvo, expedido por ASOHOFRUCOL este no sera descontable
                        para evitar su duplicidad. ley 726 del 2001.
                    </p>
                </div>
            </div>

        </div>


        <!--firmas-->
        <div class="table-description-container">
            <div class="">
                <div class="description">
                    <h4 class="description-title">FIRMA PRODUCTOR: </h4>
                    <hr/>
                </div>
            </div>
            <div class="">
                <div class="description">
                    <h4 class="description-title">FIRMA FRESH: </h4>
                    <hr/>
                </div>
            </div>
        </div>


    </main>
    <!--__________________________-->

    <!-- Footer -->
    <footer class="footer">
        <div class="logo-footer-container">
            <img
                    src="https://sp-ao.shortpixel.ai/client/to_webp,q_lossless,ret_img/https://www.agrimanager.app/wp-content/uploads/2019/05/WhatsApp-Image-2019-05-29-at-4.02.49-PM-1.jpeg"
                    alt=""
                    class="logo-footer"
            />
        </div>
        <div class="footer-title-container">
            <h4 class="footer-title">Reporte desarrollado con Agrimanager</h4>
        </div>
        <div class="footer-code-container">
            <span class="footer-code">code: <%=new Date()%></span>
        </div>
    </footer>
</div>


</body>
